body {
    padding: 0;
}

table {
    position: relative;
    margin: auto;
    border: 1px solid black;
    padding: 0;
    border-spacing: 0;
}

table * {
    position: relative;
    border: none;
    margin: 0;
    padding: 0;
    width: 100px;
    height: 100px;
}

table .white {
    background-color: white;
}

table .black {
    background-color: black;
}